body {
  height: 100vh;
}

.App {
  background-image: linear-gradient(#BB2528, red, salmon);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: Red-Christmas;
  font-size: 8rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-5-by-5 {
  width: 100%;
  max-width: 95vw; /* Adjust as needed */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  padding: 10px;
}

.Square, .Square-selected {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.5rem, 2vw, 1rem);
  padding: 0.25em;
  overflow: hidden; /* Prevent content from overflowing */
}

.Square p, .Square-selected p {
  margin: 0;
  max-height: 100%; /* Ensure content doesn't exceed square height */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  word-break: normal;
  hyphens: auto;
}

.Square {
  background-color: beige; /* Base color for visibility */
  font-weight: 500;
}

.Square-selected {
  background-image: linear-gradient(#146B38, #146B38);
  font-weight: 200;
  color: #146B38;
}

/* Christmas Styles */
.christmas {
  position: relative;
  background-image: linear-gradient(#BB2528, red, salmon);
}

.snow {
  background-image: url('../public/red-snow.png');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.lights {
  position: relative;
  background-color: #fae294; /* Pd23d */
}

.blow-up {
  position: relative;
  background-color: lightblue; /* P4171 */
}

.house-related {
  position: relative;
  background-color: rgb(191, 240, 128); /* Pb167 */
}

.walmart {
  position: relative;
  background-color: rgb(210, 190, 246); /* P7092 */
}

.misc {
  position: relative;
  background-color: rgb(246, 145, 145); /* P72a3 */
}

/* Road Trip Styles */
.road-trip {
  position: relative;
  background-image: linear-gradient(#2E8B57, #2E8B57, #2E8B57);
  /* background-image: linear-gradient(#2E8B57, #3CB371, #66CDAA); */
}

.national-park {
  background-image: url('../public/national-park.png');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.gas-station {
  position: relative;
  background-color: #A1E2E6; /* Pb622 */
}

.rest-area {
  position: relative;
  background-color: #53B4B2; /* Pbcf8 */
}

.scenic-overlook {
  position: relative;
  background-color: #f4bc66; /* Pc0ec */
}

.roadside-attraction {
  position: relative;
  background-color: #9faa68; /* P0cab */
}

/* Traveling by Plane Styles */
.traveling-by-plane {
  position: relative;
  background-image: linear-gradient(#87CEEB, #4682B4, #1E90FF);
}

.clouds {
  background-image: url('../public/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.airport {
  position: relative;
  background-color: #f7e58a; /* Gold */
}

.in-flight {
  position: relative;
  background-color: #fc8053; /* OrangeRed */
}

.destination {
  position: relative;
  background-color: #76c974; /* LimeGreen */
}

.travel-misc {
  position: relative;
  background-color: #b185dd; /* BlueViolet */
}

/* Toggle Slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px; /* Rounded shape */
}

/* The slider before (the pill) */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; /* Circular shape */
}

/* Change background color when checked */
input:checked + .slider {
  background-color: #146B38; /* Active color */
}

/* Move the pill when checked */
input:checked + .slider::before {
  transform: translateX(26px);
}

/* Theme Dropdown Styles */
.theme-dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #fff;
  font-weight: 600;
  position: relative; /* Add this */
}

.theme-dropdown {
  margin-left: 10px;
  padding: 0.5rem;
  padding-right: 2rem; /* Increase right padding to make room for the arrow */
  border: 2px solid #146B38;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
  color: #146B38;
  outline: none;
  transition: border-color 0.3s ease;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.theme-dropdown:focus {
  border-color: #3CB371;
}

/* Add custom arrow */
.theme-dropdown-container::after {
  content: '\25BC';
  position: inherit;
  top: 9px;
  right: 20px;
  pointer-events: none;
  color: #146B38;
}

/* Media Queries */
@media (max-width: 550px) {
  .App-header {
    font-size: 5rem;
  }
  .grid-5-by-5 {
    grid-gap: 0.1rem;
    margin: 10px auto;
    font-size: 0.75rem;
  }
  .Square, .Square-selected {
    font-size: 0.75rem;
  }
}

@media (max-width: 395px) {
  .grid-5-by-5 {
    font-size: 0.5rem;
  }
}
