body {
  height: 100vh;
}

.App {
  background-image: linear-gradient(#BB2528, red, salmon);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: Red-Christmas;
  font-size: 8rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-5-by-5 {
  width: 100%;
  max-width: 95vw; /* Adjust as needed */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  padding: 10px;
}

.Square, .Square-selected {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.5rem, 2vw, 1rem);
  padding: 0.25em;
  overflow: hidden; /* Prevent content from overflowing */
}

.Square p, .Square-selected p {
  margin: 0;
  max-height: 100%; /* Ensure content doesn't exceed square height */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  word-break: normal;
  hyphens: auto;
}

.Square {
  background-color: beige; /* Base color for visibility */
  font-weight: 500;
}

.Square-selected {
  background-image: linear-gradient(var(--selected-squares-color), var(--selected-squares-color));
  font-weight: 200;
  color: var(--selected-squares-color);
}

.free-space {
  background-image: linear-gradient(var(--selected-squares-color), var(--selected-squares-color));
  font-weight: 200;
  color: var(--selected-squares-color);
}

/* Christmas Styles */
.christmas {
  position: relative;
  background-image: linear-gradient(#BB2528, red, salmon);
}

.snow {
  background-image: url('../public/red-snow.png');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.lights {
  position: relative;
  background-color: #fae294; /* Pd23d */
}

.yard-decorations {
  position: relative;
  background-color: lightblue; /* P4171 */
}

.holiday-symbols {
  position: relative;
  background-color: rgb(191, 240, 128); /* Pb167 */
}

.decorative-items {
  position: relative;
  background-color: rgb(210, 190, 246); /* P7092 */
}

/* Road Trip Styles */
.road-trip {
  position: relative;
  background-image: linear-gradient(#2E8B57, #2E8B57, #2E8B57);
  /* background-image: linear-gradient(#2E8B57, #3CB371, #66CDAA); */
}

.national-park {
  background-image: url('../public/national-park.png');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.gas-station {
  position: relative;
  background-color: #A1E2E6; /* Pb622 */
}

.rest-area {
  position: relative;
  background-color: #53B4B2; /* Pbcf8 */
}

.scenic-overlook {
  position: relative;
  background-color: #f4bc66; /* Pc0ec */
}

.roadside-attraction {
  position: relative;
  background-color: #9faa68; /* P0cab */
}

/* Plane Travel Styles */
.plane-travel {
  position: relative;
  background-image: linear-gradient(#87CEEB, #4682B4, #1E90FF);
}

.clouds {
  background-image: url('../public/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.airport {
  position: relative;
  background-color: #f7e58a; /* Gold */
}

.in-flight {
  position: relative;
  background-color: #fc8053; /* OrangeRed */
}

.destination {
  position: relative;
  background-color: #76c974; /* LimeGreen */
}

.travel-items {
  position: relative;
  background-color: #b185dd; /* BlueViolet */
}

/* Eurovision Styles */
.eurovision {
  position: relative;
  background-image: linear-gradient(#1E90FF, #00BFFF, #87CEFA);
}

.eurovision-background {
  background-image: url('../public/eurovision-background.png');
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.stage {
  position: relative;
  background-color: #FFD700; /* Gold */
}

.artist {
  position: relative;
  background-color: #FF69B4; /* Hot Pink */
}

.song {
  position: relative;
  background-color: #9447e0; /* Blue Violet */
}

.country {
  position: relative;
  background-color: #32CD32; /* Lime Green */
}

/* Toggle Slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px; /* Rounded shape */
}

/* The slider before (the pill) */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; /* Circular shape */
}

/* Change background color when checked */
input:checked + .slider {
  background-color: #146B38; /* Active color */
}

/* Move the pill when checked */
input:checked + .slider::before {
  transform: translateX(26px);
}

/* Theme Dropdown Styles */
.theme-dropdown-container {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  position: relative; /* Add this */
}

.theme-dropdown-container select {
  background-color: white;
  color: black;
  padding: 0.5rem;
  width: 150px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.theme-dropdown-container:focus {
  border-color: #3CB371;
}

/* Add custom arrow */
.theme-dropdown-container::after {
  content: '\25BC';
  position: inherit;
  right: 20px;
  pointer-events: none;
  color: #146B38;
}

/* Media Queries */
@media (max-width: 550px) {
  .App-header {
    font-size: 5rem;
  }
  .grid-5-by-5 {
    grid-gap: 0.1rem;
    margin: 10px auto;
    font-size: 0.75rem;
  }
  .Square, .Square-selected {
    font-size: 0.75rem;
  }
}

@media (max-width: 395px) {
  .grid-5-by-5 {
    font-size: 0.5rem;
  }
}

/* Custom Theme Styles */
.custom-theme {
  position: relative;
}

.custom-theme-background {
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.confetti-background {
  background-image: url('https://www.transparenttextures.com/patterns/confetti.png');
  background-repeat: repeat;
  background-size: auto;
}

/* Modal and Backdrop Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-section label {
  margin-bottom: 5px;
  width: 150px;
}

.modal-section input {
  margin-bottom: 10px;
  width: -webkit-fill-available;
  height: 40px;
  padding: 0px 10px;
  font-size: 1rem;
}

.modal-footnote {
  display: flex;
  justify-content: left;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.theme-name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 10px;
}

.word-arrays label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fill-available;
}

.word-arrays input {
  margin-bottom: 0px;
}

.background-color label {
  display: flex;
  align-items: flex-start;
  width: -webkit-fill-available;
}

.background-color input {
  margin-bottom: 20px;
}

.modal-button {
  padding: 5px;
  border-radius: 5px;
  background-color: lightblue;
  margin: 10px 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* New CSS class for selected squares color */
.selected-squares-color {
  background-color: var(--selected-squares-color);
}
