body {
  height: 100vh;
}

.App {
  background-image: linear-gradient(#BB2528, red, salmon);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.snow {
  background-image: url('../public/red-snow.png');
  background-repeat: no-repeat;
  background-size: cover, contain;
  height: 100vh;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: Red-Christmas;
  font-size: 8rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-5-by-5 {
  margin-top: 1rem;
  margin: 20px;

  /* Activate grid layout */
  display: grid;

  /* Create 5 columns, each 1 "fractional unit" wide */
  grid-template-columns: repeat(5, 1fr);

  /* Create 5 rows, each 1 "fractional unit" high */
  grid-template-rows: repeat(5, 1fr);

  /* Add a 10px gap between columns and rows */
  grid-gap: 0.5rem
}

.Square {
  display: grid;
  align-content: center;
  background-color: beige;
  border: 1px solid rgba(128, 128, 128, 0.5);
  aspect-ratio: 1/1;
}

.Square-selected {
  display: grid;
  align-content: center;
  background-image: linear-gradient(#146B38, lightgreen);
  border: 1px solid rgba(128, 128, 128, 0.5);
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.5rem;
  }

  .App {
    height: 100vh;
    margin: auto;
    padding-top: 20px;
  }

  .App-header {
    font-size: 5rem;
  }

  .grid-5-by-5 {
      /* Activate grid layout */
      display: grid;
    
      /* Create 5 columns, each 1 "fractional unit" wide */
      grid-template-columns: repeat(5, 1fr);
    
      /* Create 5 rows, each 1 "fractional unit" high */
      grid-template-rows: repeat(5, 1fr);
    
      /* Add a 10px gap between columns and rows */
      grid-gap: 0.1;
    }
}